:root {
  --color1: #00b4c5;
  --color2: rgb(34 211 238); /* cian-400 */
  --color3: #2dc554;
  --color4: #2546f0;
  --color5: #f5403f;
  --color6: #a5f65e;
}
.input-error {
    border: solid 2px red;
}
.input-message-error {
    color: red;
}

@media all and (max-width:768px) {
    .calculator tr {    display: table;  width:100%;    }               
    .calculator td {    display: table-row; }           
}


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
