.input-error {
    border: solid 2px red;
}
.input-message-error {
    color: red;
}

@media all and (max-width:768px) {
    .calculator tr {    display: table;  width:100%;    }               
    .calculator td {    display: table-row; }           
}


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}